@charset "utf-8";
/* CSS Document */
*{
    margin:0;padding:0
}
body{
    background: url(../images/bj.png) center top ;
    background-size: cover;
    color: #ffffff;
    font-family: "hanYiyy";
}
/*字体*/
@font-face {
    font-family: 'hanYiyy';
    src: url("../font/font.ttf");
}
/*计时器 开始*/
.Timebox{
    width: 900px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 160px auto 0;
    position: relative;
}
/*计时器内文字样式*/
.Timebox div:nth-child(1){
    width: 100%;
    height: 50%;
    /*font-family: "hanYiyy";*/
    font-size: 110px;
    color: #f4f9f4;
    text-align: center;
    line-height: 250px;
}
#time{
    /*font-family: "hanYiyy";*/
    font-size: 110px;
    color: #f4f9f4;
    text-align: center;
}
/*导航样式*/
.nav{
    width: 440px;
    height: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.nav span{
    display: inline-block;
    width: 100px;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    /*font-family: "hanYiyy";*/
    color: #5a5a5a;
    margin-right: 10px;
}
.nav span:hover{
    background-color: #606060;
}
.nav span a{
    color: #ffffff;
    text-decoration: none;
}
/*加载层样式 开始*/
.loading{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; left: 0;
    z-index: 100;
    background-color: #ffc0c2;
}
.loading .pic{
    width: 500px;
    height: 500px;
    background: url(../images/loding.gif);
    position: absolute;
    top: 0; bottom: 0;  left: 0;    right: 0;
    margin: auto;
}
.loading .pic p{
    /*font:40px "华文行楷" ;*/
    margin: 65px auto;
    color: #c7efcf;
}
.into{
    display:inline-block;
    width: 250px;
    height: 50px;
    margin: auto;
    top: 0; bottom: 0;  left: 0;    right: 0;
    position: absolute;
    z-index: 1000;
    /*background: url(../images/into.gif);*/
}
/*加载层样式 结束*/
/*底部文字txt*/
.txt{
    width: 1250px;
    height: 110px;
    /*font-family: "hanYiyy";*/
    font-size: 30px;
    margin: 100px auto 0;
    padding: 10px;
    box-sizing: border-box;
}
